@tailwind base;

body {
    @apply text-gray-900;
    font-family: "Rambla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rosario", sans-serif;
}

@tailwind components;

.hover-nav:hover {
    @apply transform text-gray-800 -translate-y-1 scale-110 transition duration-300 ease-in-out;
}
.hover-nav-svg:hover {
    @apply transform text-gray-800  rotate-90 transition duration-300 ease-in-out;
}
.first-line-bold::first-line {
    font-weight: bold;
}
.btn {
    @apply px-3 py-1 shadow-md font-bold rounded-md;
}
.btn-teal-400 {
    @apply bg-teal-400 border border-teal-300;
}
.btn-teal-400:hover {
    @apply shadow-inner border-teal-500 transition duration-300;
}
.card:hover {
    @apply transform -translate-y-1 shadow-md transition duration-300;
}

@tailwind utilities;

.pli-center {
    place-items: center;
}
.pli-start {
    place-items: start;
}
.pli-end {
    place-items: end;
}
