@tailwind base;

body {
  @apply text-gray-900;
  font-family: "Rambla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rosario", sans-serif;
}

button:hover {
  @apply transform -translate-y-px shadow-md transition duration-300;
}

@tailwind components;

.hover-nav:hover {
  @apply transform opacity-100 -translate-y-1 scale-110 transition duration-300 ease-in-out;
}
.first-line-bold::first-line {
  @apply font-bold;
}
.card:hover {
  @apply shadow-lg transition duration-300;
}

@tailwind utilities;

.pli-center {
  place-items: center;
}
.pli-start {
  place-items: start;
}
.pli-end {
  place-items: end;
}
.active-opacity {
  opacity: 1;
}
.b-top-pink-500 {
  border-top-color: #ed64a6;
}
.b-r-white {
  border-right-color: #fff;
}
.b-bottom-pink-500 {
  border-bottom-color: #ed64a6;
}
.b-l-white {
  border-left-color: #fff;
}
