@tailwind base;

body {
    @apply text-gray-900;
    font-family: "Rambla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rosario", sans-serif;
}

button:hover {
    @apply transform -translate-y-px shadow-md transition duration-300;
}

@tailwind components;

.hover-nav:hover {
    @apply transform text-gray-800 -translate-y-1 scale-110 transition duration-300 ease-in-out;
}
.first-line-bold::first-line {
    @apply font-bold;
}
.card:hover {
    @apply transform -translate-y-1 shadow-md transition duration-300;
}

@tailwind utilities;

.pli-center {
    place-items: center;
}
.pli-start {
    place-items: start;
}
.pli-end {
    place-items: end;
}
.active-opacity {
    opacity: 1;
}
.b-t-red {
    border-top-color: #c53030;
}
.b-r-blue {
    border-right-color: #3182ce;
}
.b-b-green {
    border-bottom-color: #48bb78;
}
.b-l-yellow {
    border-left-color: #ecc94b;
}
.test {
    color: red;
}
